<div class="row text-center">
  <div class="col-md-12">
    <h1><%= I18n.t(:file_import) %></h1>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12">
    <%= bootstrap_form_tag(url: '/file_import/submit', method: :post, html: { id: 'file-import-control-form' }) do |f| %>
      <%= hidden_field_tag :filename, @filename %>
      <table class="table table-condensed table-bordered table-striped table-hover">
        <thead>
          <tr>
            <td></td>
            <td><%= I18n.t(:trigramme) %></td>
            <td><%= I18n.t(:name) %></td>
            <td><%= I18n.t(:price) %></td>
            <td><%= I18n.t(:comment) %></td>
          </tr>
        </thead>
        <tbody>
          <% @entries.each_with_index do |e, i| %>
            <tr class="<%= e[:level] %>">
              <td>
                <%= hidden_field_tag "data_#{i}", JSON.dump(e) %>
                <%= f.check_box("checkbox_#{i}", label: '', checked: e[:level].nil? || e[:level] == :warning, disabled: e[:level] == :fatal) %>
              </td>
              <td><%= e[:trigramme] %></td>
              <td><%= e[:name] %></td>
              <td><%= e[:price] %></td>
              <td>
                <% e[:comments].each do |c| %>
                  <%= c %><br>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <%= f.text_field(:comment, hide_label: true, placeholder: I18n.t(:comment)) %>
        </div>
      </div>
      <div class="row text-center">
        <%= f.primary(I18n.t(:submit), id: 'submit-file-import') %>
      </div>
    <% end %>
  </div>
</div>
<br>
