<div class="row text-center">
  <div class="col-md-12">
    <h1><%= I18n.t(:frankiz_dashboard) %></h1>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-7">
    <table class="table table-condensed table-bordered table-striped table-hover">
      <thead class="text-center">
        <tr>
          <td colspan="4"></td>
          <td colspan="3"><%= I18n.t(:x) %></td>
          <td colspan="3"><%= I18n.t(:not_x) %></td>
        </tr>
        <tr>
          <td><%= I18n.t(:promo) %></td>
          <td><%= I18n.t(:frankiz) %></td>
          <td colspan="2"><%= I18n.t(:last_update) %></td>
          <td><%= I18n.t(:total) %></td>
          <td><%= I18n.t(:with_frankiz) %></td>
          <td><%= I18n.t(:without_frankiz) %></td>
          <td><%= I18n.t(:total) %></td>
          <td><%= I18n.t(:with_frankiz) %></td>
          <td><%= I18n.t(:without_frankiz) %></td>
        </tr>
      </thead>
      <tbody>
        <% @fkz_polytechniciens.each do |fkz_promo| %>
          <tr>
            <td><%= fkz_promo[:promo] %></td>
            <td><%= fkz_promo[:count] %></td>
            <td>
              <time class="timeago" datetime="<%= fkz_promo[:updated_at].strftime('%F %T') %>">
                <%= fkz_promo[:updated_at].strftime('%F %T') %>
              </time>
            </td>
            <td>
              <% unless @running %>
                <a class="refresh-promo" promo="<%= fkz_promo[:promo] %>"><%= I18n.t(:refresh) %></a>
              <% end %>
            </td>
            <td><%= @accounts_x.map { |e| e[:count] if e[:promo] == fkz_promo[:promo].to_i }.compact.sum('') %></td>
            <td><%= @accounts_x.find { |e| e[:promo] == fkz_promo[:promo].to_i && e[:has_frankiz] == 1 }.try(:[], :count) %></td>
            <td><%= @accounts_x.find { |e| e[:promo] == fkz_promo[:promo].to_i && e[:has_frankiz] == 0 }.try(:[], :count) %></td>
            <td><%= @accounts_not_x.map { |e| e[:count] if e[:promo] == fkz_promo[:promo].to_i }.compact.sum('') %></td>
            <td><%= @accounts_not_x.find { |e| e[:promo] == fkz_promo[:promo].to_i && e[:has_frankiz] == 1 }.try(:[], :count) %></td>
            <td><%= @accounts_not_x.find { |e| e[:promo] == fkz_promo[:promo].to_i && e[:has_frankiz] == 0 }.try(:[], :count) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="col-md-5">
    <% if @running %>
      <script>
        setTimeout(function(){ window.location.reload(); }, 3000);
      </script>
      <div class="row">
        <div class="col-md-12">
          <pre>
<%= I18n.t(:crawl_running) %>
<%= @output %></pre>
        </div>
        <div class="col-md-12 text-center">
          <%= bootstrap_form_tag(remote: true, url: '/frankiz/stop', method: :post) do |f| %>
            <%= f.submit I18n.t(:stop), class: 'btn btn-danger' %>
          <% end %>
        </div>
      </div>
    <% else %>
      <%= bootstrap_form_tag(
            remote: true, url: "/frankiz/crawl", method: :post, layout: :inline, html: { autocomplete: 'off', id: 'frankiz-form' }) do |f| %>
        <div class="row low-padding">
          <div class="col-md-6">
            <%= f.text_field(:username, hide_label: true, placeholder: I18n.t(:frankiz_username)) %>
          </div>
          <div class="col-md-6">
            <%= f.password_field(:password, hide_label: true, placeholder: I18n.t(:frankiz_password)) %>
          </div>
        </div>
        <br>
        <div class="row low-padding">
          <div class="col-md-12 text-center">
            <%= f.primary(I18n.t(:crawl_frankiz)) %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
