<div class="row">
  <div class="col-md-12">
    <table class="table table-condensed table-bordered table-striped table-hover">
      <thead>
        <tr>
          <td><%= I18n.t(:brand) %></td>
          <td><%= I18n.t(:price_cents) %></td>
          <td><%= I18n.t(:quantity) %></td>
        </tr>
      </thead>
      <tbody>
        <%= render @clopes %>
      </tbody>
    </table>

    <h3>
      <%= I18n.t(:new_ciragette_pack) %>
      <small><%= I18n.t(:new_ciragette_pack_warning) %></small>
    </h3>
    <%= bootstrap_form_tag(url: "/clopes/new", method: :post) do |f| %>
      <div class="row">
        <div class="col-md-3">
          <%= f.text_field(:marque, hide_label: true, placeholder: I18n.t(:brand)) %>
        </div>
        <div class="col-md-3">
          <%= f.text_field(:prix, hide_label: true, placeholder: I18n.t(:price_cents)) %>
        </div>
        <div class="col-md-3">
          <%= f.text_field(:quantite, hide_label: true, placeholder: I18n.t(:quantity)) %>
        </div>
        <div class="col-md-3">
          <%= f.primary I18n.t(:save) %>
        </div>
      </div>
    <% end %>
  </div>
</div>
