<div class="row">
  <div class="col-md-12">
    <table class="table table-condensed table-bordered table-striped table-hover">
      <thead>
        <tr>
          <td><%= I18n.t(:brand) %></td>
          <td><%= I18n.t(:price) %></td>
          <td><%= I18n.t(:quantity) %></td>
          <td><%= I18n.t(:delete) %></td>
        </tr>
      </thead>
      <tbody>
        <%= render @clopes %>
      </tbody>
    </table>

    <h3>
      <%= I18n.t(:new_ciragette_pack) %>
      <small><%= I18n.t(:new_ciragette_pack_warning) %></small>
    </h3>
    <%= bootstrap_form_tag(url: "/clopes/new", method: :post) do |f| %>
      <div class="row">
        <div class="col-md-4">
          <%= f.text_field(:marque, hide_label: true, placeholder: I18n.t(:brand)) %>
        </div>
        <div class="col-md-2">
          <%= f.text_field(:prix, hide_label: true, placeholder: I18n.t(:price)) %>
        </div>
        <div class="col-md-2">
          <%= f.primary I18n.t(:save) %>
        </div>
      </div>
    <% end %>

    <br>

    <%= high_chart_globals(@chart_globals) %>
    <div class="row">
      <div class="col-md-6">
        <%= high_chart('cigarettes_volume', @cigarettes_volume) %>
      </div>
      <div class="col-md-6">
        <%= high_chart('cigarettes_turnover', @cigarettes_turnover) %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 text-center">
        <h3><%= I18n.t(:reset_quantities) %></h3>
        <%= bootstrap_form_tag(url: "/clopes/reset_quantities", method: :post) do |f| %>
          <%= f.primary I18n.t(:reset) %>
        <% end %>
      </div>
    </div>

    <br>
  </div>
</div>
