<h3><%= I18n.t(:transfer) %></h3>
<%= bootstrap_form_tag(
      remote: true, url: "/account/transfer/#{@account.id}", method: :post, layout: :inline,
      html: { id: 'transfer-form' }) do |f| %>
  <div class="row low-padding">
    <div class="col-md-6">
      <%= f.text_field(:amount, class: 'mousetrap', hide_label: true, placeholder: I18n.t(:pay), prepend: I18n.t(:currency)) %>
    </div>
    <div class="col-md-6">
      <%= f.text_field(:receiver, class: 'mousetrap', hide_label: true, placeholder: I18n.t(:trigramme)) %>
    </div>
  </div>
  <div class="row low-padding">
    <div class="col-md-6">
      <%= f.text_field(:comment, class: 'mousetrap', hide_label: true, placeholder: I18n.t(:comment)) %>
    </div>
    <div class="col-md-6">
      <%= f.primary I18n.t(:transfer) %>
    </div>
  </div>
<% end %>
