<h3><%= I18n.t(:credit) %></h3>
<%= bootstrap_form_tag(
      remote: true, url: "/account/credit/#{@account.id}", method: :post, layout: :inline,
      html: { id: 'credit-form' }) do |f| %>
  <div class="row low-padding">
    <div class="col-md-6">
      <%= f.text_field(:amount, class: 'mousetrap', hide_label: true, placeholder: I18n.t(:more_money), prepend: I18n.t(:currency)) %>
    </div>
    <div class="col-md-6">
      <%= f.text_field(:comment, class: 'mousetrap', hide_label: true, placeholder: I18n.t(:comment)) %>
    </div>
    <div class="col-md-6">
      <%= f.primary I18n.t(:check) %>
      <%= f.primary I18n.t(:cash) %>
    </div>
  </div>
<% end %>
