<% if @account.birthday? %>
  <div class="birthday">
<% end %>
<div class="row">
  <div class="col-sm-5 col-sm-push-7">
    <div class="row low-padding <%= 'alert alert-danger' if @account.age && @account.age < 18 %>">
      <div class="col-md-5">
        <%= render 'show_trigramme' %>
        <%= render 'show_edition' %>
        <br>
        <%= render 'show_description' %>
      </div>
      <div class="col-md-7 text-right hidden-sm hidden-xs">
        <%= render 'show_pictures' %>
      </div>
    </div>
    <%= render 'show_log' %>
    <br>
    <%= render 'show_cigarettes' %>
    <%= render 'show_credit' %>
    <%= render 'show_transfer' %>
  </div>

  <div class="col-sm-7 col-sm-pull-5">
    <%= render 'shared/active_bank' %>
    <%= render 'show_transactions_table' %>
  </div>
</div>
<% if @account.birthday? %>
  </div>
<% end %>
