<div class="row">
  <div class="col-md-5 col-lg-push-7">
    <div class="row low-padding <%= 'alert alert-danger' if @account.age && @account.age < 18 %>">
      <% if @account.local_picture %>
        <div class="col-md-5">
      <% else %>
        <div class="col-md-12">
      <% end %>
        <h1
          class="<%= @account.binet? ? 'text-success' : @account.x_platal? ? '' : 'text-primary' %>"
        >
          <strong><%= @account.trigramme %></strong>
          <% if @account.binet? %>
            <%= bootstrap_form_tag(remote: true, url: "/bank/#{@account.trigramme}", method: :post, html: { style: 'display: inline' }) do |f| %>
              <%= f.primary I18n.t(:set_as_bank) %>
            <% end %>
          <% end %>
          <% unless @account.x_platal? %>
            <br>
            <small><%= @account.readable_status %></small>
          <% end %>
          <a data-toggle="collapse" href="#trigrammeCollapse" aria-expanded="false" aria-controls="trigrammeCollapse" style="display: inline; font-size: 14px;">
            <%= fa_icon "pencil-square-o" %>
          </a>
        </h1>
        <div class="collapse text-right" id="trigrammeCollapse">
          <%= bootstrap_form_tag(
                remote: true, url: "/account/#{@account.id}", method: :post, authenticity_token: true,
                html: { autocomplete: 'off', id: 'trigramme-form' }) do |f| %>
            <%= f.text_field(:trigramme, hide_label: true, placeholder: I18n.t(:trigramme)) %>
            <%= f.select(
              :status,
              Account.statuses.keys.map { |k| [k.tr('_', ' ').capitalize, k] },
              selected: @account.status, hide_label: true)
            %>
            <%= f.file_field(:picture, hide_label: true, class: 'filestyle', 'data-buttonText' => I18n.t(:picture)) %>
            <%= f.primary 'Save' %>
          <% end %>
        </div>
        <h2>
          <%= @account.first_name %> <%= @account.name %>
          <small><%= @account.promo %></small>
        </h2>
        <h3>
          <%= if (@account.birthdate && Date.current.month == @account.birthdate.month && Date.current.day == @account.birthdate.day)
            fa_icon "birthday-cake 2x"
          end %>
          <% if @account.age %>
            <%= @account.age %> ans (<%= @account.birthdate %>)
          <% end %>
        </h3>
        <div>
          <small>
            <%= I18n.t(:since_last_reset, amount: number_to_currency(@account.turnover / 100.0)) %>
          </small>
        </div>
        <div>
          <a data-toggle="collapse" href="#nicknameCollapse" aria-expanded="false" aria-controls="nicknameCollapse"><%= fa_icon "pencil-square-o" %></a>
          <% if @account.nickname.nil? || @account.nickname.blank? %>
            <small><em>Nickname</em></small>
          <% else %>
            <%= @account.nickname %>
          <% end %>
        </div>
        <div class="collapse text-right" id="nicknameCollapse">
          <br>
          <%= bootstrap_form_tag(
                remote: true, url: "/account/#{@account.id}", method: :post,
                html: { autocomplete: 'off', id: 'nickname-form' }) do |f| %>
            <%= f.text_area(:nickname, rows: 3, hide_label: true, value: @account.nickname) %>
            <%= f.primary 'Save' %>
          <% end %>
          <br>
        </div>
        <h1 class="<%= 'text-danger' if @account.balance < 0 %>"><strong><%= number_to_currency(@account.balance / 100.0) %></strong></h1>
      </div>
      <% if @account.local_picture %>
        <div class="col-md-7 text-right">
          <%= image_tag @account.local_picture, alt: @account.first_name, id: 'account-image' %>
        </div>
      <% end %>
    </div>
    <%= bootstrap_form_tag(
          remote: true, url: "/account/log/#{@account.id}", method: :post, layout: :inline,
          html: { autocomplete: 'off', id: 'log-form' }) do |f| %>
      <div class="row low-padding">
        <div class="col-md-6">
          <%= f.text_field(:amount, class: 'mousetrap', hide_label: true, placeholder: I18n.t(:pay), prepend: I18n.t(:currency)) %>
        </div>
        <div class="col-md-6">
          <%= f.text_field(:comment, class: 'mousetrap', hide_label: true, placeholder: I18n.t(:comment), append: f.primary(I18n.t(:log))) %>
        </div>
      </div>
    <% end %>
    <br>
    <h3><%= I18n.t(:cigarettes) %></h3>
    <%= bootstrap_form_tag(
          remote: true, url: "/account/clopes/#{@account.id}", method: :post, layout: :inline,
          html: { autocomplete: 'off', id: 'clopes-form' }) do |f| %>
      <div class="row low-padding">
        <div class="col-md-6">
          <%= f.select(:clope_id, Clope.order(quantite: :desc).all.collect { |c| [c.marque, c.id] }, class: 'mousetrap', hide_label: true) %>
        </div>
        <div class="col-md-6">
          <%= f.number_field(:quantity, class: 'mousetrap', hide_label: true, value: 1, min: 1, append: f.primary(I18n.t(:log))) %>
        </div>
      </div>
    <% end %>
    <h3><%= I18n.t(:credit) %></h3>
    <%= bootstrap_form_tag(
          remote: true, url: "/account/credit/#{@account.id}", method: :post, layout: :inline,
          html: { autocomplete: 'off', id: 'credit-form' }) do |f| %>
      <div class="row low-padding">
        <div class="col-md-6">
          <%= f.text_field(:amount, class: 'mousetrap', hide_label: true, placeholder: I18n.t(:more_money), prepend: I18n.t(:currency)) %>
        </div>
        <div class="col-md-6">
          <%= f.text_field(:comment, class: 'mousetrap', hide_label: true, placeholder: I18n.t(:comment)) %>
        </div>
      </div>
      <div class="form-group">
        <%= f.primary I18n.t(:check) %>
        <%= f.primary I18n.t(:cash) %>
      </div>
    <% end %>
    <h3><%= I18n.t(:transfer) %></h3>
    <%= bootstrap_form_tag(
          remote: true, url: "/account/transfer/#{@account.id}", method: :post, layout: :inline,
          html: { autocomplete: 'off', id: 'transfer-form' }) do |f| %>
      <div class="row low-padding">
        <div class="col-md-6">
          <%= f.text_field(:amount, class: 'mousetrap', hide_label: true, placeholder: I18n.t(:pay), prepend: I18n.t(:currency)) %>
        </div>
        <div class="col-md-6">
          <%= f.text_field(:receiver, class: 'mousetrap', hide_label: true, placeholder: I18n.t(:trigramme)) %>
        </div>
      </div>
      <div class="row low-padding">
        <div class="col-md-6">
          <%= f.text_field(:comment, class: 'mousetrap', hide_label: true, placeholder: I18n.t(:comment)) %>
        </div>
        <div class="col-md-6">
          <%= f.primary I18n.t(:transfer) %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="col-md-7 col-lg-pull-5">
    <% if (session[:bank_id] != 1) %>
      <div class="text-center alert alert-danger">
        <h1>
          <strong><%= I18n.t :current_bank, bank_name: @bank.bank_display_name %></strong>
        </h1>
      </div>
    <% end %>

    <table id="transactions-table" class="table table-condensed table-bordered table-striped table-hover">
      <thead>
        <tr>
          <td><%= I18n.t(:price) %></td>
          <td><%= I18n.t(:receiver) %></td>
          <td><%= I18n.t(:bank) %></td>
          <td><%= I18n.t(:comment) %></td>
          <td><%= I18n.t(:_date) %></td>
        </tr>
      </thead>
      <tbody id="transactions">
        <%= render @transactions %>
      </tbody>
    </table>
    <%= will_paginate @transactions %>
  </div>
</div>
