<div class="row">
  <div class="col-md-8">
    <div id="pinte-background-container">
      <div id="pinte-background"></div>
    </div>
    <table class="table table-condensed table-bordered table-striped table-hover">
      <thead>
        <tr>
          <td>Price</td>
          <td>Receiver</td>
          <td>Admin</td>
          <td>Comment</td>
          <td>Date</td>
        </tr>
      </thead>
      <tbody>
        <% @account.transactions.includes(:receiver).includes(:administrator).order(date: :desc).limit(50).each do |t| %>
          <tr>
            <td><%= t.price / 100.0 %></td>
            <td><%= t.receiver.try(:trigramme) %></td>
            <td><%= t.administrator.try(:trigramme) %></td>
            <td><%= t.comment %></td>
            <td><%= t.date %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-md-4">
      <h1><strong><%= @account.trigramme %></strong></h1>
      <h2>
        <%= @account.first_name %> <%= @account.name %>
        <small><%= @account.promo %></small>
      </h2>
      <span><%= @account.nickname %></span>
      <h3>
        <%= if (@account.birthdate && Date.current.month == @account.birthdate.month && Date.current.day == @account.birthdate.day)
          fa_icon "birthday-cake 2x"
        end %>
        <% if @account.age %>
          <%= @account.age %> ans (<%= @account.birthdate %>)
        <% end %>
      </h3>
      <h1><strong><%= @account.balance / 100.0 %> €</strong></h1>
      <%= bootstrap_form_tag(remote: true, html: { id: 'log-form' }, url: "/account/log/#{@account.id}", method: 'post', layout: :inline) do |f| %>
        <%= f.text_field(:amount, hide_label: true, placeholder: 'Paye, bâtard!', prepend: '€') %>
        <%= f.text_field(:comment, hide_label: true, placeholder: 'Commentaire', append: f.primary('Log!')) %>
      <% end %>
      <br>
      <h3>Clopes</h3>
      <%= bootstrap_form_tag(remote: true, html: { id: 'clopes-form' }, url: "/account/clopes/#{@account.id}", method: 'post', layout: :inline) do |f| %>
        <%= f.select(:clope_id, Clope.order(quantite: :desc).all.collect { |c| [c.marque, c.id] }, hide_label: true) %>
        <%= f.number_field(:quantity, hide_label: true, value: 1, min: 1, append: f.primary('Log!')) %>
      <% end %>
      <h3>Créditer</h3>
      <%= bootstrap_form_tag(remote: true, html: { id: 'credit-form' }, url: "/account/credit/#{@account.id}", method: 'post', layout: :inline) do |f| %>
        <%= f.text_field(:amount, hide_label: true, placeholder: 'Plus de thunes!', prepend: '€') %>
        <%= f.text_field(:comment, hide_label: true, placeholder: 'Commentaire') %>
        <div class="form-group">
          <%= f.primary 'Chèque' %>
          <%= f.primary 'Liquide' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
