<tr>
  <%
    is_debit = transaction.buyer_id == @account.id
    partner = is_debit ? transaction.receiver : transaction.buyer
    partner_trigramme = partner.try(:trigramme)
  %>
  <td class="text-center">
    <% if transaction.amount != 0 %>
      <a class="cancel-transaction" transaction-id="<%= transaction.id %>">
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
      </a>
    <% end %>
  </td>
  <% unless is_debit %>
    <td></td>
  <% end %>
  <td><%= number_with_precision(transaction.amount / 100.0, strip_insignificant_zeros: true, significant: false, precision: 2, delimiter: ' ') %></td>
  <% if is_debit %>
    <td></td>
  <% end %>
  <td>
    <% if partner_trigramme != Account::DEFAULT_BANK_TRIGRAMME && partner && partner.id != @account.id %>
      <a href="/account/<%= partner.id %>">
        <%= partner_trigramme || partner.id %>
      </a>
    <% end %>
  </td>
  <td><%= transaction.administrator.try(:trigramme) %></td>
  <td><%= transaction.comment %></td>
  <td>
    <time
      <% if transaction.date.to_date == Date.today %>
        class="timeago"
      <% end %>
      datetime="<%= transaction.date %>">
      <%= transaction.date.strftime('%F %T') %>
    </time>
  </td>
</tr>
