<tr>
  <td><%= transaction.price / 100.0 %></td>
  <td><%= transaction.receiver.try(:trigramme) %></td>
  <td><%= transaction.administrator.try(:trigramme) %></td>
  <td><%= transaction.comment %></td>
  <td><time <% if transaction.date.to_date == Date.today %>class="timeago"<% end %> datetime="<%= transaction.date %>"><%= transaction.date.strftime('%F %T') %></time></td>
</tr>
