<tr>
  <td class="text-center">
    <% if transaction.price != 0 %>
      <a class="cancel-transaction"
         t-id="<%= transaction.id %>"
         t-id2="<%= transaction.id2 %>"
         t-date="<%= transaction.date %>"
         t-price="<%= transaction.price %>">
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
      </a>
    <% end %>
  </td>
  <td><%= number_with_precision(transaction.price / 100.0, strip_insignificant_zeros: true, significant: false, precision: 2, delimiter: ' ') %></td>
  <% bank_trigramme = transaction.receiver.try(:trigramme) %>
  <td><%= bank_trigramme == Account::DEFAULT_BANK_TRIGRAMME ? '' : bank_trigramme %></td>
  <td><%= transaction.administrator.try(:trigramme) %></td>
  <td><%= transaction.comment %></td>
  <td>
    <time
      <% if transaction.date.to_date == Date.today %>
        class="timeago"
      <% end %>
      datetime="<%= transaction.date %>">
      <%= transaction.date.strftime('%F %T') %>
    </time>
  </td>
</tr>
