<!DOCTYPE html>
<html>
<head>
  <title>Tdfb</title>
  <%= favicon_link_tag 'pinte_squared.png' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'themes/' + ENV['theme'] if ENV['theme'] %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/index/"><%= image_tag "pinte.png" %></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input id="navbar-search" type="text" class="form-control mousetrap" placeholder="Search">
        </div>
        <!-- <button type="submit" class="btn btn-default">Submit</button> -->
      </form>

      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Account <span class="sr-only">(current)</span></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Select Theme <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Boostrap', controller: 'application', action: 'switch_theme', theme: nil %></li>
            <li><%= link_to 'Cerulean', controller: 'application', action: 'switch_theme', theme: 'cerulean' %></li>
            <li><%= link_to 'Darkly', controller: 'application', action: 'switch_theme', theme: 'darkly' %></li>
            <li><%= link_to 'United', controller: 'application', action: 'switch_theme', theme: 'united' %></li>
            <li><%= link_to 'Solar', controller: 'application', action: 'switch_theme', theme: 'solar' %></li>
            <li><%= link_to 'Slate', controller: 'application', action: 'switch_theme', theme: 'slate' %></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid">
  <%= yield %>
</div>

<div class="modal fade" id="unauthorized-modal" tabindex="-1" role="dialog" aria-labelledby="unauthorized-modal">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title" id="myModalLabel">Unauthorized</h2>
      </div>
      <div class="modal-body">
        <strong>You don't have permissions to do this.</strong>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="error-modal" tabindex="-1" role="dialog" aria-labelledby="error-modal">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title" id="myModalLabel">Oups</h2>
      </div>
      <div class="modal-body">
        <strong id="error-modal-text"></strong>
      </div>
    </div>
  </div>
</div>

</body>
</html>
