<!DOCTYPE html>
<html>
<head>
  <title>Tdb</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%= favicon_link_tag 'pinte_squared.png' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'themes/' + session['theme'] if session['theme'] %>
  <script src="https://cdn.ravenjs.com/3.15.0/raven.min.js"></script>
  <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script>if (window.module) module = window.module;</script>
</head>
<body>

<%= render 'layouts/navbar' %>

<div class="container-fluid">
  <%= yield %>
</div>

<%= render 'layouts/modal_unauthorized' %>
<%= render 'layouts/modal_error' %>

</body>
</html>
